.model {
  background-color: rgba(0, 0, 0, 0.55) !important;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  .form-asset {
    position: relative;
    width: 940px;
    border-radius: 4px;
    background-color: #fff;
    padding-top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    .header-popup {
      display: flex;

      justify-content: space-between;
      .form-asset__title {
        padding-left: 16px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .form-asset__close {
        margin-right: 16px;
        cursor: pointer;
      }
    }

    .content-popup {
      border: none;

      .form-asset__body {
        padding: 16px;
        display: flex;
        flex-direction: column;
        background-color: #f4f7ff;
        .voucher-detaill {
          display: flex;
          flex-direction: column;

          .voucher-detaill__title {
            margin-top: -20px;
            margin-bottom: -8px;
            p {
              font-weight: 600;
            }
          }
          .voucher-detaill__content {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 8px;
            border-radius: 3px;
            .detaill__content-top {
              display: flex;
              align-items: center;
              width: 100%;
              .form-group {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 8px;
              }
            }
          }
          .detaill__content-bottom {
            width: 100%;
            padding: 20px 8px 0 8px;
          }
        }
      }
      .voucher__assets-details--title {
        margin-bottom: -8px;
        p {
          font-weight: 600;
        }
      }
      .voucher__assets-details {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 3px;
        .details__toolbars {
          display: flex;
          justify-content: space-between;
          padding: 16px;
          .details__toolbars--left {
            width: 281px;
          }
          .details__toolbars--right {
            .btn {
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
          }
        }
        .details__tables {
          .form_container--table {
            height: 264px;
            .grid-container {
              .grid-view {
                .grid-footer {
                  .gr-footer {
                    tfoot {
                      background-color: #f5f5f5 !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer-popup {
      height: 52px;
      .form-asset__footer {
        display: flex;
        justify-content: end;
        background-color: #e5e5e5;
        height: 52px;
        align-items: center;
        padding: 0 16px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        .btn {
          min-width: 110px;
          width: 110px;
          margin-left: 10px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
.grid-container {
  border: none;
  box-shadow: none;
}

.toast-bottom .btn{
  width: 92px;
  min-width: 92px;
}
.toast-bottom {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 3px 0;
  flex-direction: row-reverse;
  // background-color: #f5f5f5;
  .btn {
    width: 92px;
    min-width: 92px;
    &.secodary {
      border: solid 1px #ccc;
    }
    & + .btn {
      margin-right: 8px;
    }
  }
}