.filter-combobox {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  height: auto;
  position: relative;
  .text-label {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    color: #000;
    font-size: 13px;
    cursor: pointer;
    span {
      font-size: 13px;
      margin-left: 4px;
      color: red;
    }
  }
  .combobox-menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #afafaf;
    overflow: hidden;
    outline: none;
    width: 100%;
    height: 36px;
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      border-color: #0078d7;
    }
    .icon--left {
      margin-right: 8px;
    }
    .icon--right {
      margin-right: -3px;
      cursor: pointer;
    }
    input {
      width: 100%;
      height: 100%;
      overflow: hidden;
      outline: none;
      font-size: 13px;
      border: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &::placeholder {
        // font-style: italic;
        color: #000;
      }
    }
  }
}
.combobox-menu {
  position: absolute;
  z-index: 101;
  background-color: #fff;
  display: flex;

  align-items: center;
  border-radius: 2.5px;
  border: 1px solid #afafaf;
  overflow: hidden;
  box-sizing: border-box;

  .combobox-content {
    width: 100%;
    height: 100%;
    .list-item--combobox {
      margin: 0;
      padding: 0;
      z-index: 10;
      animation: fadeIn linear 0.5s;
      -webkit-animation: fadeIn linear 0.5s;
      overflow: auto;
      height: 100%;
      padding: 3px 4px;
      .item-combobox {
        display: flex;
        align-items: center;
        &.selected {
          transition: 0.2s;
          background-color: #c7e0f5;
          .icon_left-combobox {
            background-image: url("@/assets/images/icons/icons8-v-24.png");
          }
        }
        &:focus-within,
        &:focus,
        &:active {
          .icon_left-combobox {
            background-image: url("@/assets/images/icons/icons8-v-24.png");
          }
        }
      }
    }
  }
}
.list-item--combobox::-webkit-scrollbar {
  width: 5px;
  position: fixed;
}
.list-item--combobox::-webkit-scrollbar-thumb {
  background-color: #cdd3d6;
  border-radius: 3px;
}

.list-item--combobox::-webkit-scrollbar-track {
  display: none;
}

.list-item--combobox::-webkit-scrollbar-track {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* Tay cáº§m Scrollbar */
.list-item--combobox::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
.container-list_combo {
  display: flex;
  width: 100%;
  .item-checked__combobox {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    margin-left: 5px;
    padding: 2px 6px;

    .text-cbo {
      max-width: 46px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #fff;
      font-size: 13px;
      /* display: flex; */
    }
    .app-icon {
      margin-left: 6px;
      cursor: pointer;
    }
  }
}
