.work-year-content {
  display: flex;
  border-radius: 3px;
  width: 112px;
  height: 30px;
  margin-right: 17px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  .year-left {
    position: absolute;
    margin-right: 62px;
    margin-top: -1px;
    span {
      font-size: 13px;
    }
  }
  .year-content {
    width: 100%;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: rgba(26, 164, 200, 0.2);
      padding-left: 54px;
      font-size: 13px;
      font-weight: 700;
    }
  }
  .year-right {
    position: absolute;
    right: 8px;
    .iconyear-top {
      cursor: pointer;
    }
    .iconyear-bottom {
      cursor: pointer;
    }
  }
}
