.filter-combobox {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  height: auto;
  position: relative;
  .text-label {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    color: #000;
    font-size: 13px;
    cursor: pointer;
    span {
      font-size: 13px;
      margin-left: 4px;
      color: red;
    }
  }
  .combobox-menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #afafaf !important;
    overflow: hidden;
    outline: none !important;
    width: 100%;
    height: 36px;
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      border-color: #0078d7;
    }
    .icon--left {
      margin-right: 8px;
    }
    .icon--right {
      margin-right: -3px;
      cursor: pointer;
    }
    input {
      width: 100%;
      height: 100%;
      overflow: hidden;
      outline: none;
      font-size: 13px;
      border: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &::placeholder {
        // font-style: italic;
        color: #000;
      }
    }
  }
}
.combobox-menu {
  position: absolute;
  z-index: 101;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 2.5px;
  border: 1px solid #afafaf;
  overflow: hidden;
  box-sizing: border-box;

  .combobox-content {
    width: 100%;
    height: 100%;
    background-color: #f9fafc;
    .list-item--combobox {
      margin: 0;
      padding: 0;
      z-index: 10;
      animation: fadeIn linear 0.5s;
      -webkit-animation: fadeIn linear 0.5s;
      overflow: auto;
      height: 100%;
      padding: 3px 4px;
      .item-combobox {
        display: flex;
        align-items: center;
        &.selected {
          transition: 0.2s;
          background-color: #c7e0f5;
          .icon_left-combobox {
            background-image: url("@/assets/images/icons/icons8-v-24.png");
          }
        }
        &:focus-within,
        &:focus,
        &:active {
          .icon_left-combobox {
            background-image: url("@/assets/images/icons/icons8-v-24.png");
          }
        }
      }
    }
  }
}
::-webkit-scrollbar {
  width: 5px;
  position: fixed;
}
::-webkit-scrollbar-thumb {
  background-color: #cdd3d6;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-track {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* Tay cầm Scrollbar */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
.container-list_combo {
  display: flex;

  .item-checked__combobox {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    margin-left: 5px;
    padding: 2px 6px;

    width: 52px;
    min-width: 52px;
    .text-cbo {
      max-width: 25px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #fff;
      font-size: 13px;
      /* display: flex; */
    }
    .app-icon {
      margin-left: 6px;
      cursor: pointer;
    }
  }
}
.height_auto--cbo {
  height: auto !important;
  max-height: 187.5px !important;
  overflow: auto !important;
}

.container-list_combo {
  display: flex;
}

.container-list_combo {
  // position: fixed;
  // z-index: 99999;
  // overflow: scroll;
  // padding: 7px 5px 7px 0 ;
  // border: 1px solid #ccc ;
  // background-color: #fff;
  // border-radius: 3px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #cdd3d6;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #cdd3d6;
  }
}
.active-row {
  transition: 0.2s;
  background-color: #c7e0f5;
  cursor: pointer;
  border-radius: 4px;
}
:deep() {
  .combobox {
    position: relative;
    height: 36px;
    min-width: 220px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
  }
  
  .combobox-big {
    min-width: 456px;
  }
  
  .combobox input {
    height: 100%;
    border: 1px solid #afafaf;
    outline: none;
    flex: 1;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 36px 10px 10px;
  }
  
  .combobox button {
    position: absolute;
    right: 1px;
    top: 1px;
    background: url('@/assets/images/icons/qlts-icon.png') no-repeat -58px -324px;
    width: 36px;
    height: 34px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .combobox__data {
    position: absolute;
    top: 100%;
    width: 100%;
    box-shadow: 0 3px 6px #000;
    background-color: #fff;
    max-height: 200px;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
  }
  
  .combobox__item {
    display: block;
    height: 36px;
    width: calc(100% - 20px);
    line-height: 36px;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    padding-left: 10px;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;   
  }
  
  .combobox__item:hover {
    background-color: #c7e0f5;
  }
  
  .combobox__item:focus {
    background-color: #c7e0f5;
  }
  
  .combobox__item--selected {
    background-color: #c7e0f5;
  }
  
  .combobox-icon-padding input {
    padding-left: 40px;
  }
  
  .combobox-icon-padding input::placeholder {
    font-family: Roboto;
    color: #000;
  }
  
  .combobox-with-icon {
    position: relative;
  }
  
  .combobox-icon {
    position: absolute;
    background: url('@/assets/images/icons/qlts-icon.png') no-repeat -243px -68px;
  width: 17px;
  height: 16px;
    top: 11px;
    left: 11px;
    z-index: 1;
  }
  
  .combobox-selected-icon{
    background: url('@/assets/images/icons/qlts-icon.png') no-repeat -71px -512px;
  width: 11px;
  height: 8px;
    padding-right: 20px;
  }
  
  /* Đường chạy Scrollbar */
  .combobox__data::-webkit-scrollbar-track {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
    
  /* Tay cầm Scrollbar */
  .combobox__data::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
  
  .input--error .el-input__wrapper {
    box-shadow: 0 0 0 1px #ff4040 inset !important;
  }
  
  .duplicate-source-input--error .el-input__wrapper {
    box-shadow: 0 0 0 1px #ff4040 inset !important;
  }
  
  .el-select-dropdown {
    font-family: Roboto !important;
  }
  
  .el-select .el-input__inner {
    font-size: 13px;
  }
  
  .el-select-dropdown__item {
    font-size: 13px;
  }
  .input {
    outline: none;
    padding: 0 16px;
    box-sizing: border-box;
    border-radius: 2.5px;
    border: 1px solid #c3c3c3;
    width: 179px;
    height: 36px;
    font-size: 14px;
    font-family: Roboto;
}

input[type="number"] {
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin-left: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.input--arrow,
input::-webkit-inner-spin-button.input--arrow {
  opacity: 1;
  margin-left: 8px;
}

input:hover {
    border-color: #53bad5;
}

input:active {
    border-color: #c3c3c3;
}

input:focus {
    border-color: #6fc6dc;
}

.input--error {
    border-color: red !important;
}

input:disabled {
    background-color: #f5f5f5;
}

input:disabled:hover {
    border-color: #afafaf;
}
}
