.ms-number {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  .error-message {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    position: absolute;
    bottom: -19px;
  }
  .text-label {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    color: #000;
    font-size: 13px;
    cursor: pointer;
    span {
      font-size: 13px;
      margin-left: 4px;
      color: red;
    }
  }
  &:focus-within,
  &:hover {
    .flex-row {
      z-index: 2;
      border: none;
      .input-text {
        border: 1px solid #1492e6 !important;
      }
    }
  }
  &:hover {
    .flex-row {
      //  border: solid 1px #1aa4c8;
    }
  }
  &:active {
    .flex-row {
      // border: solid 1px #1aa4c8;
    }
  }
  &:focus {
    .flex-row {
      // border: solid 1px #1aa4c8;
      outline: #d1edf4 3px solid;
    }
  }

  .flex-row {
    display: flex;
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #afafaf;
    height: 36px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    position: relative;
    &.input__error {
      border-color: #e92e2e !important;
      .input-text:hover,
      .input-text:focus,
      .input-text:focus-within {
        border-color: #e92e2e !important;
      }
    }
    .icon-filter {
      .icon--left {
        margin-left: 7px;
        margin-top: -12px;
      }
      .app-icon {
        border: none !important;
        outline: 0;
        padding: 0 6px;
        position: absolute;
      }
    }

    &:first-child {
    }
    .icon--left {
      margin: 6px 8px 5px 6px;
      border: none !important;
    }
    .input-text {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 13px;
      padding-left: 10px;
      padding-right: 30px;
      text-align: end;
      position: absolute;
      &::placeholder {
        font-style: italic;
      }
    }
    .icon--right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      right: -116px;
      .icon--top {
        margin-bottom: 2px;
      }
      .app-icon {
        cursor: pointer;
      }
    }
  }

  .has-icon {
    .input-text {
      padding-left: 36px;
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.form-group__right {
  .ms-number {
    .flex-row {
      .input-text {
        padding-right: 10px;
      }
    }
  }
}
input:disabled {
  background-color: #f5f5f5 !important;
  &:hover {
    border-color: #afafaf !important;
  }
}
.mg-9 {
  // margin-bottom: -9px !important;
}

// .disabled-icon {
//   pointer-events: none;
// }
.flex-row{
  &:hover{
    // border: #000 1px solid !important;
  }
}
.disabled-icon{
  display: none !important ;
}
.row-radius{
  border-radius: 3.5px !important;
}